<app-modal [ModalID]="auth">
  <!-- this responsible for showing data now controlling the modal but we wrap it
    in <app-modal> so we can inject the functionality with it from the
      modal component
  -->
  <p class="text-2xl font-bold" heading>Enter Your Account</p>
  <!-- Tabs -->
  <app-tab-container body>
    <!-- Login Form -->
    <app-tabs tabTitle="Login">
      <app-login-form></app-login-form>
    </app-tabs>

    <!-- Registration Form -->
    <app-tabs tabTitle="Register">
      <app-register-form></app-register-form>
    </app-tabs>
  </app-tab-container>
</app-modal>
