<!-- alert to let the user know if their request / in process / is done / error occurs   -->
<app-alert [color]="alertColor" *ngIf="showAlert">
  {{alertMessage}}
</app-alert>
<!-- first to make form validation we need to connect the form with the
binding of [formGroup] = registerForm
then we will add formControlName to each input equal to it's representative name in the form control
and remember we add the ReactiveFormsModule in the user module
-->
<form formTab [formGroup]="registerForm" (ngSubmit)="register()">
  <!-- Name -->
  <div class="mb-3">
    <label class="inline-block mb-2">Name</label>
    <app-input [control]="name" placeholder="Enter your name"></app-input>
  </div>
  <!-- Email -->
  <div class="mb-3">
    <label class="inline-block mb-2">Email</label>
    <app-input [control]="email" placeholder="Enter your email" type="email"></app-input>
  </div>
  <!-- Age -->
  <div class="mb-3">
    <label class="inline-block mb-2">Age</label>
    <app-input [control]="age" placeholder="Enter your age" type="number"></app-input>
  </div>
  <!-- Password -->
  <div class="mb-3">
    <label class="inline-block mb-2">Password</label>
    <app-input [control]="password" placeholder="Enter Password" type="password"></app-input>
  </div>
  <!-- Confirm Password -->
  <div class="mb-3">
    <label class="inline-block mb-2">Confirm Password</label>
    <app-input [control]="confirm_password" placeholder="Confirm Password" type="password"></app-input>
  </div>
  <!-- Phone Number -->
  <div class="mb-3">
    <label class="inline-block mb-2">Phone Number</label>
    <app-input [control]="phone" placeholder="Enter your Phone" format="(000)-0000-0000"></app-input>
  </div>
  <button type="submit"
    class="block w-full bg-indigo-400 text-white py-1.5 px-3 rounded transition
                  hover:bg-indigo-500 cursor-pointer disabled:bg-gray-600 disabled:text-indigo-400 disabled:cursor-not-allowed"
    [disabled]="registerForm.invalid">
    Submit
  </button>
</form>